@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
	background: transparent;
  width: 8px; /* Width of the scrollbar */
	height: 60vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
	height: 10vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); /* Darker color on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background color of the track */
  border-radius: 10px; /* Rounded corners for the scrollbar track */
	height: 60vh;
}


body {
	overflow: hidden;
}
