@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}/* Custom Scrollbar Styles */
/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Initial color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); /* Color of the scrollbar thumb while scrolling */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background color of the track */
  border-radius: 10px; /* Rounded corners for the scrollbar track */
}

.custom-scrollbar.show-scrollbar::-webkit-scrollbar-thumb {
  opacity: 1; /* Show scrollbar thumb while scrolling */
}



body {
	overflow: hidden;
}
